<% provide(:title, "Forgot password") %>


<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="log-in-form">
        <h4 class="text-center">Forgot Your Password?</h4>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Enter your email address" %>

        <%= f.submit "Send", class: "small expanded button" %>
      </div>
      
    <% end %>
  </div>
</div>
