<article class="small-12 medium-10 medium-centered large-6 columns">
  <h1 class="basic-title">Recent Articles</h1>
  
  <ul class="article-list" id="article-list">
    <% @articles.each do |article| %>
      <li>
        <h2 class="article-title">
          <%= link_to article.title, article_path(article) %>
        </h2>
        <p class="meta">
          <time class="pubdate updated" datetime="">
            <%= article.created_at.strftime("%B %e, %Y ") %>
          </time>
          <%= link_to '5 comments', article_path(article),
                                    class: "comment-count" %>
        </p>
        <p class="article-content">
          <%= truncate article.text, length: 500 %>
        </p>
      </li>
    <% end %>
  </ul>
</article>