<div class="row">
  <div class="medium-6 medium-centered column">
    <h1 class="article-title text-center">
      <%= @article.title %>
    </h1>
    <p class="article-details text-center">
      <time class="pubdate updated" datetime="<%= @article.created_at %>"itemprop="datePublished">
        <%= @article.created_at.strftime("%B %e, %Y ") %>
      </time>  
    </p>
    <p class="article-content">
      <%= @article.text %>
    </p>
  </div>
</div>
