<div class="row">
  <div class="large-3 columns home">
    <h2 class="title">About Me</h2>
    <p>I'm a designer &amp; developer currently living in Sasebo, Japan.</p>
    <p>As a full-time Dad to an energetic toddler, I spend my days balancing my fatherly duties and building applications.</p>
    <p>I micro blog on <a href="www.twitter.com/jiujitsuscott">Twitter</a>, post videos on <a href="www.youtube.com/jiujitsuscott">YouTube</a>, and share my work on <a href="www.github.com/codebyscott">GitHub.</a></p>
  </div>
  
  <article class="large-6 columns home">
    <h2 class="title">Recent Articles</h2>
    <ul class="item-list" id="articles-list">
      <li>
        <h3 class="item-title">
          <a href="#">Three Awesome Conditional Statements for Your Portfolio</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 20, 2016</time>
        </p>
        <p>
          Design to the data. That’s the mantra of modern, research-driven web designers. But blindly accepting statistics and studies at face value is delusional at best, irresponsible at worst. Former journalist and current design specialist Dan Turner says be a skeptic. And don’t let fear of math, or innumeracy, stop you from running the numbers. Just Go.
        </p>
      </li>
      <li>
        <h3 class="item-title">
          <a href="#">Authentication Made Easy</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 13, 2016</time>
          <a href="#" class="comment-count">5 Comments</a>
        </p>
        <p>
          Design to the data. That’s the mantra of modern, research-driven web designers. But blindly accepting statistics and studies at face value is delusional at best, irresponsible at worst. Former journalist and current design specialist Dan Turner says be a skeptic. And don’t let fear of math, or innumeracy, stop you from running the numbers. Just Go.
        </p>
      </li>
      <li>
        <h3 class="item-title">
          <a href="#">Learn Vim on the Weekends</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 03, 2016</time>
          <a href="#" class="comment-count">10 Comments</a>
        </p>
        <p>
          Design to the data. That’s the mantra of modern, research-driven web designers. But blindly accepting statistics and studies at face value is delusional at best, irresponsible at worst. Former journalist and current design specialist Dan Turner says be a skeptic. And don’t let fear of math, or innumeracy, stop you from running the numbers. Just Go.
        </p>
      </li>
    </ul>
  </article>
  <div class="large-3 columns home">
    <h2 class="title">Recent Projects</h2>
    <ul class="item-list" id="projects-list">
      <li>
        <h3 class="item-title">
          <a href="#">12 in 12 Challenge</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 03, 2016</time>
        </p>
      </li>
      <li>
        <h3 class="item-title">
          <a href="#">Event Site</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 03, 2016</time>
        </p>
      </li>
      <li>
        <h3 class="item-title">
          <a href="#">Portfolio and Blog</a>
        </h3>
        <p class="meta">
          <time class="pubdate updated" datetime="">September 03, 2016</time>
        </p>
      </li>
    </ul>
  </div>
</div>