$header-bg: #0666e7; // blue
$footer-bg: #45494d; // light-gray
$highlight: #0666e7; // blue


// - - - - Global - - - - 
h1, h2, h3, h4, h5, h6, p {
  color: #333;
}

a {
  color: $highlight;
  &:hover {
    color: $highlight;
  }
}

// - - - -  Header - - - -

// $header-bg: #074E68;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;

.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
  
  .headline {
    color: #ffe;
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;
      
      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

// - - - - Main - - - -

main {
  margin: 2.5rem 0;
  padding: 1rem;

  p {
    font-size: 1.125em;
    line-height: 1.55;
    margin-left: 0;
  }
  li p {
    margin: 0 0 1.5em 0;
  }
  span {
    padding-top: 0;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.basic-title {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 24px;
  font-weight: 700;
}

.article-title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.2em;
}

.article-content {
  margin-bottom: 1.5rem;
  line-height: 24px;
}

.feature-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 0;
    margin: 0;
}

.home-title {
  font-size: 1.75em;
}

// - - - - Article List - - - -

.article-list {
  margin-left: 0;

  ul, li {
    list-style: none;

    .pubdate {
      &::after {
        content: " •"
      }
      &:last-child::after {
        content: ""
      }
    }
  }
}

// - - - - About Page - - - -

.about-img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border: 0.5em solid #f5f5f5;
  border-radius: 50%;
  margin: 0 auto 18px;
}

// - - - - Article Show Page - - - -

.article-details {
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 12px;
  font-size: 18px;
  p {
    padding: 0;
  }
}

// - - - - Forms - - - -

.text-area {
  min-height: 250px;
}

// - - - - Projects Index Page - - - -

.projects-index-list {
  background: #fff;
  padding: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  h2 {
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.5rem 0;
    @media only screen and (max-width: 64em) {
      padding-top: 1rem;
    }
  }
  h6 {
    color: $highlight;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0 0 0.5rem 0;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin: 0;
    padding: 0.875rem 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  img {
    border: 1px solid #999;
    width: 100%;
    height: auto;
  }
  .polaroid {
    backgound-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .button {
    font-weight: bold;
    color: $highlight;
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}

// - - - - Footer - - - -

.footer {
  background-color: $footer-bg;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  
  .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #292c2f; // #33383b; // #292c2f
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
  }
  
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
  }
  
  .footer-form {
    textarea, input {
      border-radius: 3px;
      background-color: #292c2f; // #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      font: inherit;
      font-size: 0.875rem;
      font-weight: normal;
      color: #d1d2d2;
      padding: 1.3rem;
    }
    
    label {
      color: #fff;
      font-size: 1.2rem;
      margin: 0 0 1rem 0;
      font-weight: bold;
    }
    
    .submit {
      border-radius: 3px;
      background-color: #292c2f;// #33383b;
      color: #ffffff;
      border: 0;
      padding: 1rem 3.5rem;
      font-weight: bold;
      float: right;
      margin: 0 1rem 2rem 0;
    }
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    padding: 4rem;
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .footer-form {
      .contact {
        position: absolute;
        left: -45%;
        top: 10%;
      }
    }
    
  }
}
   
.logo {
  color: #fff;
  font-size: 1.5rem;
  
  i {
    margin-right: 0.5rem;
  }
}