<header class="header">
  <h1 class="headline">Code  <small>by Scott</small></h1>
  <ul class="header-subnav">
    <li><%= link_to 'Articles', articles_path %></li>
    <li><a href="#" class="is-active">Projects</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</header>